
.blue{
    background-color: #000A52;
}
.nav-link{
    color: #fff;
}
.active {
    color: black;
    font-weight: bolder;
}


/* sub manu css */
.sub-manu{
    list-style: square;
}
.sub-manu li {
    display: inline-block;
    padding-left: 10px;
}
.sub-manu li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
}